<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SC_DB" value="Data Source=121.199.20.10,4033;Initial Catalog=SmartCommunity;Persist Security Info=True;User ID=eeline;Password=123456"></add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
